[Unit]
Description=CSUN Catalog and Schedules
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "/bin/bash /home/kyeou/CSUN-Catalog-And-Schedules/run.sh"
KillSignal=SIGTERM
KillMode=process
TimeoutStopSec=30

User=kyeou
Group=kyeou

[Install]
WantedBy=multi-user.target