[Unit]
Description=CSUN Catalog and Schedules
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash /home/kyeou/CSUN-Catalog-And-Schedules/run.sh start
ExecStop=/bin/bash /home/kyeou/CSUN-Catalog-And-Schedules/run.sh stop
ExecReload=/bin/bash /home/kyeou/CSUN-Catalog-And-Schedules/run.sh restart
User=kyeou

[Install]
WantedBy=multi-user.target