[Unit]
Description=CSUN_C&S Crawler
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash crawler.sh
ExecStop=/bin/bash crawler.sh stop
User=kyeou

[Install]
WantedBy=multi-user.target