[Unit]
Description=CSUN_C&S Crawler
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash /home/kyeou/CSUN-Catalog-And-Schedules/services/crawler/crawler.sh
ExecStop=pkill -f "start_crawler"
User=kyeou

[Install]
WantedBy=multi-user.target